<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            <div class="title_inner d-flex">
                Volunteer Programs
            </div>
        </ion-title>
    </ion-toolbar>
  
  </ion-header>
  
  <ion-content class="bg_img" fullscreen>
    <h1 class="ion-text-center" style="font-size:13px;color:floralwhite;margin-top:20px;line-height:30px;">
          Please Select The Program You Are Volunteering For</h1>
    <div>
        <ion-list lines="none">
          <!--<ion-item (click)="testFormPage()" style="text-align: center;">
              <h3 id="catname">Test Form</h3>                    
          </ion-item>-->
          <ion-item (click)="facilityPage()">
              <h3 id="catname">FACILITY WORK ORDER FORM</h3>                    
          </ion-item>
          <ion-item (click)="roomPage()">
              <h3 id="catname">ROOM RESERVATION FORM</h3>                    
          </ion-item>
          <!--<ion-item (click)="testFormPage()">
              <h3 id="catname">ISRAEL HOLY LAND TOUR REGISTRATION FORM</h3>                    
          </ion-item>-->
          <ion-item (click)="careerFormPage()">
            <h3 id="catname">COLLEGE AND CAREER FORM</h3>                    
          </ion-item>
          <ion-item *ngFor="let data of catdata" (click)="volunteer(data.volcategories_id)">
                <h3 id="catname">{{data.volcategories_name}}</h3>                    
          </ion-item>
          <ion-item *ngFor="let data2 of catdata2" (click)="support(data2.catid)">
              <h3 id="catname">{{data2.catname}}</h3>                    
          </ion-item>
            
        </ion-list>
    </div>
  </ion-content>