<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="bg_img">
    <div class="logo ion-text-center">
        <img src="assets/imgs/logo.png">
        <!--<h1 class="ion-text-center">The<span>Church</span></h1>-->
    </div>
    <h2 class="ion-text-center ion-text-uppercase">FORGOT <strong>PASSWORD</strong></h2>
    <p class="ion-text-center">
        Enter Your Email Address
        <br>
        You will receive a code in your email
        <br>
        to reset your password
    </p>
    <div class="form">
        <ion-list lines="none">

            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <ion-icon class="zmdi zmdi-email ion-text-start"></ion-icon>
                    <ion-input mode="md" type="email" placeholder="{{'e_mail' | translate}}" 
                    [(ngModel)]="email"></ion-input>
                </div>
            </ion-item>
        </ion-list>
        <ion-button size="large" expand="full" class="btn" (click)="passwordcode()" color="tertiary">Submit</ion-button>
    </div>
</ion-content>